/* reset browser defaults */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* custom css */

* {
    /* TODO remove box utilities */
    /* border: 2px solid red; */
}

html,
body {
    width: 100%;
    height: 100%;
}

.bg-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("./images/tim-foster-qrIy8dBzCVU-unsplash.jpg");
    background-color: black;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.page-wrap {
    position: relative;
    left: 0;
    right: 0;
    z-index: 9999;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header-section {
    justify-self: flex-start;
    display: flex;
    justify-content: center;
    margin: 3vh 0 1vw 0;
}

.header-section>.title {
    font-family: "Stick", sans-serif;
    color: white;
    font-size: calc(30px + 8vw);
}

.health-section {
    text-align: center;
    margin: 1vh 0 3vh 0;
    display: flex;
    justify-content: center;
}

.health-section>.health-text {
    color: white;
    background-color: rgba(211, 184, 120, 0.4);
    font-size: 3vh;
    font-weight: 300;
    text-align: center;
    max-width: 80vw;
}

.center-section {
    flex: 1;
    width: 50vw;
    align-self: center;
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.center-section>.search {
    align-self: center;
}

#autoComplete {
    width: 50vw;
    max-width: 300px;
}

.center-section>.cards-section {
    margin: 1vh;
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2vh;
}

.card {
    width: 20vh;
    /* min-height: 38vh; */
    text-align: center;
    border: 5px solid #806A3E;
    background-color: white;
    color: #5B6B4D;
}

.card>.bike-title {
    font-size: 3vh;
    font-weight: 900;
    margin: 2vh;
    border-bottom: 2px solid #5B6B4D;
}

.card>.bike-description {
    margin: 3px;
}

.card>.bike-description>a {
    color: #5B6B4D;
    text-decoration: none;
}

.card>.bike-description>a:hover {
    color: #5B6B4D;
    text-decoration: underline;
    font-weight: 900;
}

.disclaimer-section {
    background-color: rgba(211, 184, 120, 0.6);
    color: white;
    width: 50vw;
    text-align: center;
    margin: 1vh 0 3vh 0;
    display: inline;
    justify-content: center;
    visibility: hidden;
}

.disclaimer-section>.main-p {
    font-size: calc(15px + 1vh);
    text-align: center;
}

.disclaimer-section>.second-p {
    font-size: 2vh;
    text-align: center;
}

.disclaimer-section>.second-p>a {
    /* color: rgb(255, 255, 255); */
    color: white;
    text-decoration: none;
}

.disclaimer-section>.second-p>a:hover {
    text-decoration: underline;
    font-weight: 500;
}

.footer-section {
    justify-self: flex-end;
    color: white;
    background-color: #D3B878;
    text-align: center;
    font-size: calc(10px + 1vh);
}

.footer-text>a {
    color: white;
    text-decoration: none;
}

.footer-text>a:hover {
    text-decoration: underline;
    font-weight: 900;
}